body {
    margin:0px;
    padding:0px;
    height:100%;
    
}

.landing_page{
    display:flex;
    flex-direction:column;
    justify-content: space-between;

}

/*Header Items*/
.header{
   display:flex;    
   justify-content:space-between;
   align-items:center;

   background-color:#1F2937;
   color:#F9FAF8;

}

.header_logo{
    max-width:100px;
    max-height:auto;
    
    margin-left:90px;
}

.links {
    gap:20px;
    list-style-type: none;

    display:flex;
    align-items:center;
    margin-right:90px;
}

a, .hero_secondary_text {
    text-decoration:none;
    color:#F9FAF8;
    font-size: 18px;
}

/*Hero Items*/

.hero{
    display:flex;
    align-items:center;
    justify-content:space-around;
    
    background-color:#1F2937;
}

.hero_image {
    max-height:350px;
    max-width:auto;
}

.hero_main_text{
    font-size:48px;
    font-weight:900;
    color:#F9FAF8;
}

.white_on_blue {
    background-color:#3882F6;
    color:#F9FAF8;
}

