body {
    margin:0px;
    padding:0px;
    height:100%;
    
}

.landing_page{
    display:flex;
    flex-direction:column;
    justify-content: space-between;

}

/*Header Items*/
.header{
   display:flex;    
   justify-content:space-between;
   align-items:center;

   background-color:#1F2937;
   color:#F9FAF8;

}

.header_logo{
    max-width:100px;
    max-height:auto;
    
    margin-left:90px;
}

.links {
    gap:20px;
    list-style-type: none;

    display:flex;
    align-items:center;
    margin-right:90px;
}

a, .hero_secondary_text {
    text-decoration:none;
    color:#F9FAF8;
    font-size: 18px;
}

/*Hero Items*/

.hero{
    display:flex;
    align-items:center;
    justify-content:space-around;
    
    background-color:#1F2937;
    padding-top:50px;
}

.hero_image {
    max-height:350px;
    max-width:auto;
}

.hero_main_text{
    font-size:48px;
    font-weight:900;
    color:#F9FAF8;
}

.white_on_blue {
    background-color:#3882F6;
    color:#F9FAF8;
}

button{
    padding: 5px 15px 5px 15px;
    border:none;
    border-radius:8px;
}

/*Random Info Section Items*/

.random_info {
    display:flex;
    flex-direction:column;
    align-items:center;

    color:#1F2937;
    font-size:36px;
    font-weight:900;
}

.card_display{
    display:flex;
    gap:50px;
}

.card{
    flex-wrap:wrap;

    flex-basis:200px;
    text-align:center;
    font-size:18px;
    font-weight:100;
}

.card_pic{
    max-width:200px;
    max-height:auto;
    border-radius:15px;
    border:3px solid #3882F6;
}

/* Quote Section */

.quote{
    background-color:#E5E7EB;
    padding:100px;
}

.quote_text{
    font-size:36px;
    color:#1F2937;
    font-weight:300;
}

.quote_attribution{
    text-align:right;
    font-size:24px;
    font-weight:900;
}

/* Call to Action Section */

.call_to_action{
    background-color:#3882F6;
    color:#F9FAF8;
    border-radius:8px;

    margin: 80px 60px;
    padding: 50px 40px;
}

.call_title{
    font-size:30px;
    font-weight:900;
}

.inverted_blue {
    background-color:#3882F6;
    color:#F9FAF8;
    border:2px solid #F9FAF8;
}
